<div class="client_ongoing_card row">
    <div class="col-12">
        <div class="parent-div overflow-auto">
            <div class="child-div">
                <h5 class="title">Tile cleaning</h5>

                <!-- Waiting for professionals -->
                <div class="child-div-1 client_ongoing_card_child">
                    <div class="waiting-div text-center justify-content-center">
                        <img src="../assets/timer.png" alt="waiting clipart">
                        <h5>Waiting for professionals</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>