<div class="client_ongoing_card row">
    <div class="col-12">
        <div class="parent-div overflow-auto">
            <div class="child-div">
                <h5 class="title">{{request.name}}</h5>
                <div class="child-div-1 client_ongoing_card_child">

                    {%for offer in request.offers%}
                    <div class="row">
                        <div class="col-6" style="padding-right: 0px;">{{offer.name}}</div>
                        <div class="col-3 rating {{offer.rating}}" style="padding: 0px;"></div>
                        <div class="col-3" style="padding: 0px;"><button class="btn-green btn-sm" data-offer-id="{{ offer.id }}">Accept</button></div>
                    </div>
                    {%endfor%}

                </div>
            </div>
        </div>
    </div>
</div>