<div class="client_ongoing_card row">
    <div class="col-12">
        <div class="parent-div overflow-auto">
            <div class="child-div">
                <h5 class="title">{{request.name}}</h5>

                <!-- After choosing a professional -->
                <div class="client_ongoing_card_child">
                    <div class="row align-items-center">
                        <div class="col-12">Status: On Going</div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-6">Name: {{request.pro_name}}</div>
                        <div class="col-6">Contact No: {{request.phone}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">Email: {{request.email}}</div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-6"><button class="btn btn-primary col-12"
                                style="background-color: green;" data-request-id="{{ request.id }}">Complete Task</button></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>