<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

  
  <title>ClientScope | Home</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../css/homepage_framework_client.css">
  <link rel="stylesheet" href="../css/star_rating.css">

  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

  <!-- Link to Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="toolbar">
    <div class="toolbar-section" id="client_toolbar_request">
      <img src="../assets/hammer.png" alt="Icon 1">
      <p>Request</p>
    </div>
    <div class="toolbar-section" id="client_toolbar_ongoing">
      <img src="../assets/onGoing.png" alt="Icon 2">
      <p>On going</p>
    </div>
    <div class="toolbar-section" id="client_toolbar_history">
      <img src="../assets/history.png" alt="Icon 3">
      <p>History</p>
    </div>
  </div>

  <div id = "home_body" class="d-flex justify-content-center">

    <div id = "client_request_menu" style="display: none; max-height: 65vh;" class="grid-container">
      <div class="grid-item">
        <img src="../assets/tree.png" alt="Icon 4">
        <p>Tree removal</p>
      </div>
      <div class="grid-item">
        <img src="../assets/roof.png" alt="Icon 5">
        <p>Roof cleaning</p>
      </div>
      <div class="grid-item">
        <img src="../assets/fence.png" alt="Icon 6">
        <p>Fence installation</p>
      </div>

  

      <div class="grid-item">
        <img src="../assets/oven.png" alt="Icon 7">
        <p>Oven repairs</p>
      </div>
      <div class="grid-item">
        <img src="../assets/ac.png" alt="Icon 8">
        <p>AC repairs</p>
      </div>
      <div class="grid-item">
        <img src="../assets/tile.png" alt="Icon 9">
        <p>Tile cleaning</p>
      </div>
    </div>

    <div id = "nothing_here" style="display: none;" class="centered-image">
      <img src="../assets/nothing_page.png" alt="your-image-alt">
    </div>

    <div id = "client_request_forms_container" style=" display: none; max-height: 70vh;" >

      <div id = "client_request_form_1_tree" style="display: none;" class="card">
        <div class="card-header">
          <h3>Tree removal services</h3>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../assets/tree.png" alt="Your Image" style="max-width: 100%; height: auto;">
          </div>
          <form>
            <div class="form-group">
              <label for="trees">Number of trees to be removed:</label>
              <input type="number" class="form-control" id="trees">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="tree-moving">
              <label class="form-check-label" for="tree-moving">Tree moving services also required</label>
            </div>
            <div class="form-group">
              <label for="location">Location details:</label>
              <input type="text" class="form-control" id="location">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="#" class="btn btn-secondary back-button">Back</a>
            </div>
         
          </form>
        </div>
      </div>

      <div id="client_request_form_2_roof" style="display: none;" class="card">
        <div class="card-header">
          <h3>Roof cleaning services</h3>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../assets/roof.png" alt="Your Image" style="max-width: 100%; height: auto; max-height: 572px;">
          </div>
          <form>
            <div class="form-group">
              <label for="roof-type">Type of roofs:</label>
              <select class="form-control" id="roof-type">
                <option value="clay-roof">Clay roof</option>
                <option value="concrete-roof">Concrete roof</option>
                <option value="metal-roof">Metal roof</option>
                <option value="asphalt-roof">Asphalt roof</option>
              </select>
            </div>            
            <div class="form-group">
              <label for="roof-area">Area in square metre:</label>
              <input type="number" class="form-control" id="roof-area">
            </div>
            <div class="form-group">
              <label for="location">Location details:</label>
              <input type="text" class="form-control" id="location">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="#" class="btn btn-secondary">Back</a>
            </div>

          </form>
        </div>
      </div>
      
      <div id="client_request_form_3_fence" style="display: none;" class="card">
        <div class="card-header">
          <h3>Fence installation services</h3>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../assets/fence.png" alt="Your Image" style="max-width: 100%; height: auto;">
          </div>
          <form>
            <div class="form-group">
              <label for="fence-area">Area in square metre:</label>
              <input type="number" class="form-control" id="fence-area">
            </div>
            <div class="form-group">
              <label for="location">Location details:</label>
              <input type="text" class="form-control" id="location">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="#" class="btn btn-secondary">Back</a>
            </div>
          </form>
        </div>
      </div>
      
      <div id="client_request_form_4_oven" style="display: none;" class="card">
        <div class="card-header">
          <h3>Oven repair services</h3>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../assets/oven.png" alt="Your Image" style="max-width: 100%; height: auto;">
          </div>
          <form>
            <div class="form-group">
              <label for="oven-type">Type of oven:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="oven-type" id="ordinary-oven" value="ordinary-oven">
                <label class="form-check-label" for="ordinary-oven">
                  Ordinary
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="oven-type" id="convection-oven" value="convection-oven">
                <label class="form-check-label" for="convection-oven">
                  Convection
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="location">Location details:</label>
              <input type="text" class="form-control" id="location">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="#" class="btn btn-secondary">Back</a>
            </div>
          </form>
        </div>
      </div>

      <div id="client_request_form_5_ac" style="display: none;" class="card">
        <div class="card-header">
          <h3>AC repair services</h3>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../assets/ac.png" alt="Your Image" style="max-width: 100%; height: auto;">
          </div>
          <form>
            <div class="form-group">
              <label for="units">Number of AC units:</label>
              <input type="number" class="form-control" id="units">
            </div>
            <div class="form-group">
              <label for="location">Location details:</label>
              <input type="text" class="form-control" id="location">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="#" class="btn btn-secondary">Back</a>
            </div>
          </form>
        </div>
      </div>

      <div id="client_request_form_6_tile" style="display: none;" class="card">
        <div class="card-header">
          <h3>Tile cleaning services</h3>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../assets/tile.png" alt="Your Image" style="max-width: 100%; height: auto; max-height: 572px;">
          </div>
          <form>
            <div class="form-group">
              <label for="roof-type">Type of tiles:</label>
              <select class="form-control" id="roof-type">
                <option value="ceramic-tile">Ceramic tiles</option>
                <option value="natural-tile">Natural Stone Tiles</option>
                <option value="mosaic-tile">Mosaic Tiles</option>
                <option value="cement-tile">Cement Tiles</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="roof-area">Area in square metre:</label>
              <input type="number" class="form-control" id="roof-area">
            </div>
            <div class="form-group">
              <label for="location">Location details:</label>
              <input type="text" class="form-control" id="location">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="#" class="btn btn-secondary">Back</a>
            </div>

          </form>
        </div>
      </div>

      <div id="overlay" style="display: none;" >
        <div id="overlay-message">
          <h3>Price breakup</h3>
          <p>Subscription Type: Annual</p>
          <p>Start Date: <span id="strt_date">01/01/2023</span></p>
          <p>End Date: <span id="end_date">01/01/2023</span></p>
          <p>Price: $99.99</p>
          <div class = "overlay-buttons" >
            <button class = "btn btn-primary btn-lg" id="payment-confirm">Confirm</button>
            <!-- <a href="#" class="btn btn-primary btn-lg">Back</a> -->
          </div>
          
        </div>
      </div>




    </div>

    <div id = "client_ongoing_container" class="container-fluid" style="display: none;margin-top: 10px;">
      
      <div class="client_ongoing_card row">
        <div class="col-12">
          <div class="parent-div overflow-auto">
            <div class="child-div">
              <h5 class="title">Tree removal</h5>
              <div class="child-div-1 client_ongoing_card_child">
                <div class="row">
                  <div class="col-6" style="padding-right: 0px;">Name of Person</div>
                  <div class="col-3 rating rating-3" style="padding: 0px;"></div>
                  <div class="col-3" style="padding: 0px;"><button class="btn-green btn-sm">Accept</button></div>
                </div>
                <!-- add more rows of data here -->
                <div class="row">
                  <div class="col-6" style="padding-right: 0px;">Name of Person</div>
                  <div class="col-3 rating rating-1" style="padding: 0px;"></div>
                  <div class="col-3" style="padding: 0px;"><button class="btn-green btn-sm">Accept</button></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="client_ongoing_card row">
        <div class="col-12">
          <div class="parent-div overflow-auto">
            <div class="child-div">
              <h5 class="title">Roof cleaning</h5>
              <div class="child-div-1 client_ongoing_card_child">
                <div class="row">
                  <div class="col-6" style="padding-right: 0px;">Name of Person</div>
                  <div class="col-3 rating rating-0" style="padding: 0px;"></div>
                  <div class="col-3" style="padding: 0px;"><button class="btn-green btn-sm">Accept</button></div>
                </div>
                <!-- add more rows of data here -->
                <div class="row">
                  <div class="col-6" style="padding-right: 0px;">Name of Person</div>
                  <div class="col-3 rating rating-2" style="padding: 0px;"></div>
                  <div class="col-3" style="padding: 0px;"><button class="btn-green btn-sm">Accept</button></div>
                </div>
                <div class="row">
                  <div class="col-6" style="padding-right: 0px;">Name of Person</div>
                  <div class="col-3 rating rating-5" style="padding: 0px;"></div>
                  <div class="col-3" style="padding: 0px;"><button class="btn-green btn-sm">Accept</button></div>
                </div>
                <div class="row">
                  <div class="col-6" style="padding-right: 0px;">Name of Person</div>
                  <div class="col-3 rating rating-4" style="padding: 0px;"></div>
                  <div class="col-3" style="padding: 0px;"><button class="btn-green btn-sm">Accept</button></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="client_ongoing_card row">
        <div class="col-12">
          <div class="parent-div overflow-auto">
            <div class="child-div">
              <h5 class="title">Tile cleaning</h5>

              <!-- Waiting for professionals -->
              <div class="child-div-1 client_ongoing_card_child">
                <div class="waiting-div text-center justify-content-center">
                  <img src="../assets/timer.png" alt="waiting clipart">
                  <h5>Waiting for professionals</h5>
                </div>                
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="client_ongoing_card row">
        <div class="col-12">
          <div class="parent-div overflow-auto">
            <div class="child-div">
              <h5 class="title">Oven cleaning</h5>

              <!-- After choosing a professional -->
              <div class="client_ongoing_card_child">
                <div class="row align-items-center">
                    <div class="col-12">Status: On Going</div>
                    
                </div>
                <div class="row mt-2">
                    <div class="col-6">Name: John Doe</div>
                    <div class="col-6">Contact No: 1234567890</div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">Email: john.doe@example.com</div>
                </div>
                <div class="row mt-2 justify-content-center">
                  <div class="col-6"><button class="btn btn-primary col-12" style="background-color: green;">Complete Task</button></div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>

      <!-- Review overlay div -->
      <div class="overlay" style="display: none;">
        <div class="overlay-content">
          <h3>Give your feedback</h3>
          <form>
            <label for="rating">Rating(0-5):</label>
            <input type="number" id="rating" name="rating" min="1" max="5">
            <br>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment"></textarea>
            <br>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
      
      
      
    </div>

  </div>
    
    


</div>
  
  
</body>
</html>
