{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">


    <title>ClientScope | Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{%static 'css/professional.css'%}">
    <link rel="stylesheet" href="{%static 'css/star_rating.css'%}">

    <script src="{%static 'js/professional.js'%}"></script>
    <!-- <script src="{%static 'js/client_ongoing.js'%}"></script> -->

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

    <!-- Link to Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


</head>

<body>

    <div class="toolbar">
        <div class="toolbar-section selected" id="client_toolbar_request">
            <img src="{%static 'img/hammer.png'%}" alt="Icon 1">
            <p>Request</p>
        </div>
        <div class="toolbar-section" id="client_toolbar_ongoing">
            <img src="{%static 'img/onGoing.png'%}" alt="Icon 2">
            <p>On going</p>
        </div>
        <div class="toolbar-section" id="client_toolbar_history">
            <img src="{%static 'img/history.png'%}" alt="Icon 3">
            <p>History</p>
        </div>
    </div>

    <div id="home_body" class="d-flex justify-content-center">

        <div id="professional_requests_container" style="display: none;width: 90%;" class="container-fluid">
        </div>

        <!-- Overlay div to view further details -->
        <div id="job-details" class="overlay" style="display: none;">
            <div class="overlay-content">
                <h3>Tree removal</h3>
                <div class="scrollable-div">
                    <ol class="details-list" style="padding-left: 20px;">
                        <li>Client Name : Nameless user</li>
                        <li>Location : 123, XYZ street, NSW.</li>
                        <li>Number of Trees : 5</li>
                        <li>Should it be moved? : Yes</li>
                        <li>Estimated fee : $60</li>
                    </ol>

                </div>
                <div class="button-container">
                    <button class="btn btn-success job-details-accept">Accept</button>
                    <button class="btn btn-danger job-details-reject">Reject</button>
                </div>
            </div>
        </div>

        <!-- Overlay div to view ongoing details -->
        <div id="ongoing-details" class="overlay" style="display: none;">
            <div class="overlay-content">
                <h3>Tree removal</h3>
                <div class="scrollable-div">
                    <ol class="ongoing-list" style="padding-left: 20px;">
                        <li>Client Name : Nameless user</li>
                        <li>Location : 123, XYZ street, NSW.</li>
                        <li>Number of Trees : 5</li>
                        <li>Should it be moved? : Yes</li>
                        <li>Estimated fee : $60</li>
                    </ol>

                </div>
            </div>
        </div>

        <!-- Empty page  -->
        <div id="nothing_here" style="display: none;" class="centered-image">
            <img src="{%static 'img/nothing_page.png'%}" alt="your-image-alt">
        </div>


    </div>

    <a href="http://127.0.0.1:8000/" class="logout-button">
        <img src="{% static 'img/logout.png' %}" alt="Logout Icon">
    </a>

</body>

</html>