{%load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <title>ClientScope</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <!-- Link to Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{%static 'css/login-registration/login.css'%}">

  
</head>

<body>
  <div class="container">
    <div class="row justify-content-center align-items-center main-container">
      <h1 class="app-title">ClientScope</h1>
      <div class="col-md-6 col-sm-12 text-center">
        <button class="btn btn-primary btn-lg btn-block" id="login-button">Login</button>
        <button class="btn btn-outline-primary btn-lg btn-block" id="signup-button">Sign Up</button>
      </div>
    </div>
  </div>
</body>

</html>