body {
    margin: 0;
    padding: 0;
  }
  
  .toolbar {
    display: flex;
    flex-direction: row;
    height: 10vh;
  }
  
  .toolbar-section {
    flex: 1;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3f5c83;
  
  }
  
  .toolbar-section p {
    font-size: 0.5rem;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #f1f3f5;
    margin-bottom: 8px;
  }
  
  .toolbar-section.selected {
    background-color: #2196F3;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    height: 115%;
  }
  
  .toolbar-section img {
    margin-top: 22px;
    padding: 0;
    max-height: 65%;
    max-width: 50%;
  }
  
  /* Home Body */
  #home_body {
    height: 90vh;
  }
  
  
  
  /* Nothing here */
  #nothing_here {
    width: 100%;
    height: 100%;
  }
  
  #nothing_here.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  #nothing_here.centered-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  
  /* Professional requests cards */
  .professional_requests_card .childdiv {
    padding: 10px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  
  
  /* Professional overlay to view further details */
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-content {
    background-color: white;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
  }
  
  .scrollable-div {
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
  
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  