body {
    background-color: #F8F8F8;
  }
  
  .app-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #007BFF;
  }
  
  .main-container {
    height: 100vh;
  }
  
  #login-button {
    margin-bottom: 1rem;
  }
  
  #signup-button {
    border-color: #007BFF;
    color: #007BFF;
  }
  